*{
  font-family:'和文フォント','Yu Gothic';
  box-sizing: border-box;
}

body{
  width:100vw;
}

.cw80{
  width:80%;
  margin:auto;
}

.cw40{
  width:40%;
  margin:auto;
}

.mts{
  margin-top:2em;
}

.flex{
  display: flex;
  justify-content: space-around;
  align-items: center;

}

h1{
  padding-left:0.3em;
  margin-bottom:0;
  border-left:3px solid #2e2e2e;
}

iframe{
  padding:20px;
  width:40%;
  border:1px solid #2e2e2e;
}

.description{
  width:50%;
}

button{
  float:right;
  margin-top:1em;
  padding:0.5em 1.8em;
  outline:none;
  border:2px solid #2e2e2e;
  border-radius: 20px;
  color:#fff;
  background-color:#2e2e2e;
  font-weight: bold;
  transition-duration: 0.3s;
  
}

button:hover{
  color:#2e2e2e;
  background-color:#fff;
}